.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("./images/bg-main-desktop.png");
}

.card-details-form {
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card-pictures {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 1080px) {
  .wrapper {
    height: auto;
    background-image: url("./images/bg-main-mobile.png");
    background-repeat: repeat-x;
  }

  .card-details-form {
    flex-direction: column;
    width: 100%;
    margin: 1rem;
  }

  .card-pictures {
    width: 100%;
    flex-direction: column-reverse;
  }
}
